
.main-content-title {
	margin-top: -1vw;
}

h2 {
	font-size: 2.5vw;
	padding-left: 0.5vw;
	font-weight: 600;
}

h3 {
	font-size: 2vw;
	margin-top: 0.5vw;
}

h4 {
	font-size: 1.5vw;
}

#week-buttons {
	margin-left: 1vw;
	font-weight: normal;
}

.week-button {
	border: none;
	border-radius: 0.5vw;
	font-size: 1.25vw;
	padding: 0.5vw;	
	color: black; 
	display: inline-block;
	vertical-align: middle;
}

.week-button:hover {
	text-decoration: none;
	color: white;
}

.workout {
	border-radius: 0.5vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1vw;
}

.week1 {
	background-color: rgba(124, 194, 255, 0.65);
}

.week2 {
	background-color: rgba(76, 158, 247, 0.70);
}

.week3 {
	background-color: rgba(28, 133, 245, 0.75);
}

.week4 {
	background-color: rgba(1, 110, 204, 0.80);
}

.workout-table {
	width: 100%;
	border: none;
	text-align: center;
	font-size: 0.75vw;
}

.workout-table th {
	border: none;
	font-weight: 600;
}

.workout-day {
	width: 32%;
	padding: 1vw 0.5vw;
	border: 1px solid rgba(13, 61, 109, 0.3);
	border-radius: 0.5vw;
	margin: 0.5%;
}

.workout-day-title {
	font-weight: 600;
	color: rgba(13, 61, 109, 1);
}

.workout-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.workout-input {
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	border: none;
	text-align: center;
	border-radius: 0.25vw;
}

.workout-update-button {
	margin-top: 1vw;
	background-color: rgba(0, 76, 255, 0.85);
	border: none;
	border-radius: 0.25vw;
	color: white;
	font-size: 1vw;
}

