{% extends 'admin_base.html' %}

{% block content %}

  <div id="main-content">

    <form method="POST">{% csrf_token %}
      Level Group:
      <select onchange="this.form.submit()" placeholder="Select Level Group" id='level_group' name="level_group">

        {%for Group in Selected_Group %}
          <option value="{{Group.1}}">{{Group.0}}</option>
        {% endfor %}

        {%for Group in Level_Groups %}
          <option value="{{Group.1}}">{{Group.0}}</option>
        {% endfor %}

      </select>

    </form>

     <br>

     <form method="GET">

      <table class="exercise-table exercise-table-rounded">
        <tr>
          <th>Levels</th>
          {% for Exercise in Exercises_1 %}
            <th>{{Exercise.0}}</th>
          {% endfor %}
        </tr>

        {% for Level in Levels %}
        <tr>
          <td>{{Level.0|slice:"6:"}}</td>
          {% for Exercise in Level.2 %}
            <td><input type="text" name="{{Level.1}}{{Exercise.1}}" placeholder="{{Exercise.0}}"></td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>

    <br>

    <table class="exercise-table exercise-table-rounded">
      <tr>
        <th>Levels</th>
        {% for Exercise in Exercises_2 %}
          <th>{{Exercise.0}}</th>
        {% endfor %}
      </tr>

      {% for Level in Levels %}
      <tr>
        <td>{{Level.0|slice:"6:"}}</td>
        {% for Exercise in Level.3 %}
          <td><input type="text" name="{{Level.1}}{{Exercise.1}}" placeholder="{{Exercise.0}}"></td>
        {% endfor %}
      </tr>
      {% endfor %}
     </table>

    <br>

    <table class="exercise-table exercise-table-rounded">
      <tr>
        <th>Levels</th>
        {% for Exercise in Exercises_3 %}
          <th>{{Exercise.0}}</th>
        {% endfor %}
      </tr>

      {% for Level in Levels %}
      <tr>
        <td >{{Level.0|slice:"6:"}}</td>
        {% for Exercise in Level.4 %}
          <td><input type="text" name="{{Level.1}}{{Exercise.1}}" placeholder="{{Exercise.0}}"></td>
        {% endfor %}
      </tr>
      {% endfor %}

     </table>
      <br>

      <input type="submit" name="Update_Exercises" value="Update">

    </form>

    <br>
  </div>

  <script>
    $( "#Exercises" ).addClass( "active");
  </script>

{% endblock %}

