
{% extends 'admin_base.html' %}

{% block content %}

  <div class="jumbotron">
    <h1>Users List</h1>
    <hr>
    <form method="POST" action="#">{% csrf_token %}
    <table class="user-table user-table-rounded">
      <tr>
        <th>Email (Click to View Profile)</th>  
        <th>First Name</th>
        <th>Last Name</th>
        <th>Squat</th>
        <th>Hinge</th>
        <th>UB Hor Press</th>
        <th>Last Workout (Date)</th>
        <th>Next Workout (Date)</th>
      </tr>

      {% for User in Users %}
        <tr>
          <td>
            <input type="submit" name="{{User.1}}" value="{{User.0}}" class="user-email">
          </td>
          <td>{{User.2}}</td>
          <td>{{User.3}}</td>
          <td><a href="/profile">3</a></td>
          <td><a href="/profile">4</a></td>
          <td><a href="/profile">5</a></td>
          <td></td>
          <td></td>

        </tr>
      {% endfor %}
    </table>

    <br>
    </form>
  </div>

  <script>
    $( "#Profile" ).addClass( "active");
  </script>

{% endblock %}
