{% extends 'admin_base.html' %}

{% load static %}

{% block content %}

  <div class="container">
    <div class="jumbotron" style="margin-top:0px; margin-bottom:50px; display:inline-block; width:100%; height:1000px;">

    <form method="GET">

      <div style="width:50%; display:inline-block;">

        <img src='{% static "adminuserprofilepage/Profile_Placeholder.png" %}'>
        <h2>Profile Information</h2>
        Email: <b>{{User_Info.0}}</b>
        <br>
        First Name: <b>{{User_Info.1}}</b>
        <br>
        Last Name: <b>{{User_Info.2}}</b>
        <br>
        Level: <b>{{User_Info.3}}</b>
        <br>
        <h2>Exercise Stats</h2>
        Squat:
        <br>
        Hinge:
        <br>
        UB Hor Press:
      </div>

      <div style="float:right; width:40%; display:inline-block;">

        <div name="Next_Workout" style="height:200px;">
          <h2>Next Workout</h2>
          <!-- Date:  -->
          {{Next_Workout.1}}{{Next_Workout.0}}
          {%for set in Next_Workout.2 %}
          <br>
          <b>{{set}}</b>
          {% endfor %}
        </div>

        <div name="Last_Workout" style="height:200px;">
          <h2>Last Workout</h2>
          <!-- Date:  -->
          {{Last_Workout.1}}{{Last_Workout.0}}
          {%for set in Last_Workout.2 %}
          <br>
          <b>{{set}}</b>
          {% endfor %}
        </div>

      </div>

      <br>

    </form>

    <br>

    </div>
  </div>

  <script>
    $( "#Profile" ).addClass( "active");
  </script>


{% endblock %}
