{% extends 'admin_base.html' %}

{% load static %}

{% block content %}

    <div class="container">
      <div class="jumbotron" style="margin-top:0px; margin-bottom:50px; display:inline-block; width:100%; height:1000px;">
      <div style="width:50%; display:inline-block;">
        <h1 style="margin-bottom:10px; margin-top:0px; display:inline-block;">Edit Video</h1> 
        <br>
        Video:
        <br>
        <video width="320" height="240" controls style="margin-top:0px;">
            <source src="{{Video_URL}}" type="video/mp4">
        </video>
        <br>
        <input type="file" name="VideoUpload" id="VideoUpload">
        <input type="submit" name="Edit{{Video.1}}" class="btn btn-sm btn-primary" style="margin-left:10px;" value="Edit Video">        
        <br>
        <br>
        Thumbnail:
        <br>
        <img src="{{Display.0}}" alt="Thumbnail" height="100" style="display:inline-block;">
        <br>
        <input type="file" name="ThumbnailUpload" id="ThumbnailUpload">
        <input type="submit" name="Edit{{Video.1}}" class="btn btn-sm btn-primary" style="margin-left:10px;" value="Edit Thumbnail">        
        <br>
        Tags List:
        <br>
        <input type="text" name="Tag">
        <br>        
        <input type="submit" class="btn btn-primary" value="Add Tag" style="margin-top:5px;">
        <br>        
        <br>
      </div>
      <div style="width:40%; display:inline-block; vertical-align:top;">
      <form method="GET">
        <h2>Exercises</h2>
          Current Exercise Type: <b>{{Display.1}}</b>
          <br>
          Change Type:
          <select style="display:inline-block; margin-left:0px; font-size:15px;" placeholder="Select Level" id='select_level' name="Exercise">
          {%for Exercise in Exercise_Types %}
            <option>{{Exercise}}</option>
          {% endfor %}
          </select>
        <input type="submit" class="btn btn-primary btn-sm" value="Change" style="margin-left:5px;">
        <br>
        General Description
          <textarea rows="2" cols="50" name="Description" placeholder="Write Description">{{Description}}</textarea> 
          <br>
          Related Exercises and Descriptions (Select to Remove):<br>
          {% for i in Assigned_Exercises %}
          <!-- <br> -->
          <input type="checkbox" name="Remove_Exercises" value="{{i.2}}">{{i.0}} (Level {{i.1}})<br>
          <textarea rows="2" cols="50" name="Description" placeholder="Write Description">{{Description}}</textarea><br>
          {% endfor %}
          <input type="submit" class="btn btn-primary btn-sm" name="RemoveExercises" value="Remove" style="margin-left:0px; margin-top:5px;">
          <br><br>
          <!-- <br><br> -->
          <!-- <br> -->
          <!-- <br> -->
          Add New Exercises:
          <br>
          <!-- <div style="width:45%; display:inline-block;"> -->
          {% for i in Exercise_List %}
          <input type="checkbox" name="Assign_Exercises" value="{{i.2}}">{{i.0}} (Level {{i.1}})<br>
          {% endfor %}
          <input type="submit" class="btn btn-primary btn-sm" name="AddExercises" value="Add" style="margin-left:0px; margin-top:5px;">
<!--           </div>
          <div style="width:45%; display:inline-block;">
          Test 2
          </div>
 -->      </form>
      </div>
      </div>
    </div>

{% endblock %}
