{% extends 'admin_base.html' %}

{% load static %}

{% block content %}

<div class="jumbotron" style="margin-left:20px; margin-right:150px; margin-top:0px; margin-bottom:50px; display:inline-block; width:98%; height:1600px;">

  <h1>Edit Workouts</h1>
  <h2>Levels: <a href="/admin-workouts">1-5</a> | <a href="/admin-workouts-2">6-10</a> | <a href="/admin-workouts-3">11-15</a> | 16-25</h2>
  <form method="POST" style="margin-left:0px;">{% csrf_token %}
    Selected Block:
    <select style="display:inline-block; margin-left:0px; font-size:15px;" onchange="this.form.submit()" placeholder="Select Block" id='select_level' name="Block">
            {%for Block in Selected_Block %}
    <option value="{{Block.1}}">{{Block.0}}</option>
            {% endfor %}
            {%for Block in Blocks %}
    <option value="{{Block.1}}">{{Block.0}}</option>
            {% endfor %}
    </select>


   </form>

    <h2>{{Block_Label}}</h2>
        {% for Week in Workout_Templates %}
        <h3 style="margin-bottom:2px;">{{Week.0}}</h3>
        {% for Day in Week.1 %}
        <div style="display:inline-block; width:23%; font-size:10px;">
        <form method="GET" style="display:inline-block; margin-right:10px;">
        <h4 style="margin-bottom:2px; margin-top:2px;">{{Day.0}}</h4>
            <!-- <div style="margin-right:55px; float:left;">&nbsp </div>  -->
            <div style="margin-left:50px;">
            Exercise Type | Sets x Reps | RPE | Deload | Alloy<br>
            </div>
            <!-- <br> -->
              {% for Sub in Day.1 %}
              <!-- {{Sub.3}} -->
              Set {{Sub.0}} 
         <!-- {{Sub.0}} {{Sub.4}} {{Sub.2}}            -->
            <select name="Type_{{Sub.0}}">
              <option value="{{Sub.1}}">{{Sub.1}}</option>
              {% for Type in Exercise_Types %}
              <option value="{{Type}}">{{Type}}</option>
              {% endfor %}
            </select> 
            <input style="" type="text" placeholder="{{Sub.2}}" name="Sets_{{Sub.0}}">
            x
            <input style="" type="text" placeholder="{{Sub.3}}" name="Reps_{{Sub.0}}">
            <input style="margin-left:5px;" type="text" placeholder="{{Sub.4}}" name="RPE_{{Sub.0}}">
            <input style="margin-left:5px;" type="text" placeholder="{{Sub.5}}" name="Deload_{{Sub.0}}">
            <input style="margin-left:15px; margin-left:10px;" type="text" placeholder="{{Sub.6}}" name="Alloy_{{Sub.0}}">
            <br>
          {% endfor %}    
           <input type="submit" style="width:50px;" name="{{Week.2}}{{Day.2}}_Update_Workout" value="Update">
        </div>
          </form>
           {% endfor %} <!-- Day Loop End  -->
        {% endfor %}
</div>

  <style>
  th, td {
    border:1px solid black; 
  }
  p {
    font-size:10px;
  }  

  . {
    font-size:10px;
  }
  input {
    width:20px;
  }

  </style>

{% endblock %}
