{% load static %}
<!-- <p>Test Page</p>
<p>{{Test}}</p>
<form method="GET" id="form_test" name="form_test">
	<input id="test_button" name="test_button" type="submit" value="Update"></input>
</form>
 -->
<script src="https://js.stripe.com/v3/"></script>

<script>
    var stripe = Stripe('pk_test_XXOQiKnnXqjJlJG5euwKirzj');
    var elements = stripe.elements();
</script>

378282246310005
<form action="" method="post">{% csrf_token %}
  <input type="submit" name="Post_Test" value="Post Test">
</form>

<form action="" method="post" id="payment-form">{% csrf_token %}
    <select name="Username">
    {% for Username in Usernames %}
    <option value="{{Username}}">{{Username}}</option>
    {% endfor %}
    </select>     

  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- a Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors -->
    <div id="card-errors" role="alert"></div>
  </div>

  <input type="submit" name="payment_input" value="Submit Payment (Input)">

  <button name="payment_submit">Submit Payment</button>
  <br>
  {{Payment_Status}}
</form>

<form method="GET">
  <br>
  <br>
    <select name="Subscribe_Username">
    {% for Username in Usernames %}
    <option value="{{Username}}">{{Username}}</option>
    {% endfor %}
    </select>     
  <br>
  <input type="submit" name="Subscribe_Input" value="Subscribe User">
</form>

<script>
var style = {
  base: {
    // Add your base input styles here. For example:
    fontSize: '16px',
    lineHeight: '24px'
  }
};

// Create an instance of the card Element
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>
card.mount('#card-element');

card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server
      stripeTokenHandler(result.token);
    }
  });
});

function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}
</script>


<!-- STRIPE STUFF ENDS HERE -->
