<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">


<!-- Include Vue.js Source Code -->
<script src='https://unpkg.com/vue'></script>
<!-- <script src="https://code.getmdl.io/1.3.0/material.min.js"></script> -->


<!-- Include HTML Code -->
<!-- Head --> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>


    <!-- Material Design code -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <!--  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-indigo.min.css" /> -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  
    <!-- Style Sheets -->
    <link rel="stylesheet" href="{% static 'userpage/userpage.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,600,700" rel="stylesheet">

    <title>User Page</title>

</head>


<!-- Body --> 
<body>
    <h1>Welcome, athlete!</h1>
    <hr>

    <img src='{% static "userpage/header_design.svg" %}'>


</head>
<body>

    <div id="left_container">
        <div id="date_text_container">
            <p> Date: </p>
            <p id="date_text"><p>
        </div>

        <hr id='dummy_divider'>

        <div id="datepicker"></div>
        <div id="summary">Content goes here</div>

    </div>

    <div id='right_container'>
        <table class='table_calendar'>
            <tr>
                <th class='table_header'>Pattern</th>
                <th class='table_header'>Level</th>
                <th class='table_header'>Exercise</th>
                <th class='table_header'>Reps</th>
                <th class='table_header'>Weight</th>
                <th class='table_header'>RPE</th>
                <th class='table_header'>Tempo</th>
            </tr>

            <!-- ROW 1 --> 
            <tr class='table_content'>
                <th>${ row1.exercise_type }</th>
                <td><div>${ row1.level }</div></td>
                <td><div>${ row1.exercise_name }</div></td>
                <td><div>${ row1.reps }</div></td>
                <td><div></div></td>
                <td><textarea class='editable_div' v-model='row1.rpe'></textarea></td>
                <td><div></div></td>
            </tr>

            <!-- ROW 2 --> 
            <tr class='table_content'>
                <th>${ row2.exercise_type }</th>
                <td><div>${ row2.level }</div></td>
                <td><div>${ row2.exercise_name }</div></td>
                <td><div>${ row2.reps }</div></td>
                <td><div></div></td>
                <td><textarea class='editable_div' v-model='row2.rpe'></textarea></td>
                <td><div></div></td>
            </tr>

            <!-- ROW 3 --> 
            <tr class='table_content'>
                <th>${row3.exercise_type}</th>
                <td><div>${ row3.level }</div></td>
                <td><div>${ row3.exercise_name }</div></td>
                <td><div>${ row3.reps }</div></td>
                <td><div></div></td>
                <td><textarea class='editable_div' v-model='row3.rpe'></textarea></td>
                <td><div></div></td>
            </tr>

            <!-- ROW 4 --> 
            <tr class='table_content'>
                <th>${ row4.exercise_type}</th>
                <td><div>${ row4.level }</div></td>
                <td><div>${ row4.exercise_name }</div></td>
                <td><div>${ row4.reps }</div></td>
                <td><div></div></td>
                <td><textarea class='editable_div' v-model='row4.rpe'></textarea></td>
                <td><div></div></td>
            </tr>

            <!-- ROW 5 --> 
            <tr class='table_content'>
                <th>${ row5.exercise_type}</th>
                <td><div>${ row5.level }</div></td>
                <td><div>${ row5.exercise_name }</div></td>
                <td><div>${ row5.reps }</div></td>
                <td><div></div></td>
                <td><textarea class='editable_div' v-model='row5.rpe'></textarea></td>
                <td><div></div></td>
            </tr>

        </table>

        <input type='button' id='update_table'> UPDATE TABLE</button>

    </div>

</body>

</html>


<script>

    var vm = new Vue({
        el: '.table_calendar',
        delimiters: ['${', '}'],
        data: {
            row1: {
                'level': '',
                'exercise_type': '',
                'exercise_name': '',
                'sets': '',
                'reps': '',
                'rpe': ''
            },
            row2: {
                'level': '',
                'exercise_type': '',
                'exercise_name': '',
                'sets': '',
                'reps': '',
                'rpe': ''
            },
            row3: {
                'level': '',
                'exercise_type': '',
                'exercise_name': '',
                'sets': '',
                'reps': '',
                'rpe': ''
            },
            row4: {
                'level': '',
                'exercise_type': '',
                'exercise_name': '',
                'sets': '',
                'reps': '',
                'rpe': ''
            },
            row5: {
                'level': '',
                'exercise_type': '',
                'exercise_name': '',
                'sets': '',
                'reps': '',
                'rpe': ''
            }
        }
    });

    function updateRPE() {
        var current_date = $( "#date_text" ).text(); 
        var URL = "{% url 'userpageRPEUpdate' %}"; 
        var data = {'RPE_row1': vm.row1.rpe,
                    'RPE_row2': vm.row2.rpe,
                    'RPE_row3': vm.row3.rpe,
                    'RPE_row4': vm.row4.rpe,
                    'RPE_row5': vm.row5.rpe,
                    'current_date': current_date};

        $.post(URL, data, function(response){
            console.log(response); 
        })
    };

    function updateTempDate(){
        var TempDate = $( "#date_text" ).text(); 
        var data = {'TempDate': TempDate};
        var URL = "{% url 'userpageUpdate' %}";
        console.log("I'm in updateTempDate"); 
        $.post(URL, data, function(response){
            // console.log(response); 
            // console.log(JSON.stringify(response));
            response1 = response[0];
            console.log(response1); 
            vm.row1.exercise_type = response1.exercise_type;
            vm.row1.level = response1.level;
            vm.row1.exercise_name = response1.exercise_name; 
            vm.row1.reps = response1.reps;
            vm.row1.rpe = response1.rpe;


            response2 = response[1];
            vm.row2.exercise_type = response2.exercise_type;
            vm.row2.level = response2.level;
            vm.row2.exercise_name = response2.exercise_name; 
            vm.row2.reps = response2.reps;
            vm.row2.rpe = response2.rpe;


            response3 = response[2];
            vm.row3.exercise_type = response3.exercise_type;
            vm.row3.level = response3.level;
            vm.row3.exercise_name = response3.exercise_name; 
            vm.row3.reps = response3.reps;
            vm.row3.rpe = response3.rpe;


            response4 = response[3];
            vm.row4.exercise_type = response4.exercise_type;
            vm.row4.level = response4.level;
            vm.row4.exercise_name = response4.exercise_name; 
            vm.row4.reps = response4.reps;
            vm.row4.rpe = response4.rpe;


            response5 = response[4];
            vm.row5.exercise_type = response5.exercise_type;
            vm.row5.level = response5.level;
            vm.row5.exercise_name = response5.exercise_name; 
            vm.row5.reps = response5.reps;
            vm.row5.rpe = response5.rpe; 

        });
    }


  $(function() {
        $('#datepicker').datepicker({
            beforeShowDay: function (date) {

                // Get selected date
                // Reference: https://stackoverflow.com/questions/26667720/how-to-get-the-selected-date-from-jquery-datepicker

                var currentDate = $( "#datepicker" ).val();
                $( "#date_text" ).text(currentDate);

                // Reference: https://stackoverflow.com/questions/17863924/jquery-datepicker-add-class-to-first-17-days
                var final_list = {{ final_list | safe }};
                var final_list_len = final_list.length; 

                var workout_list = [] 

                for (i = 0; i < final_list_len; i++) {
                    var workout_date = final_list[i]
                    var workout_string = workout_date.month + '/' + workout_date.day + '/' + workout_date.year; 
                    workout_list.push(new Date(workout_string)); 
                };

                var workout_list_len = workout_list.length; 

                for (i = 0; i < workout_list_len; i++) {
              
                    // if workout date and date on the calendar are the same 
                    if (workout_list[i].getTime() === date.getTime()){
                        return [true, 'workout']; // set styling to 'workout' (see style tag below)
                    }
                };

                return [true, ''];
            },
            onSelect: function (date) {
                //var newDate = $(this).val();
                $( "#date_text" ).text(date);
                updateTempDate();
            }
         })
    });


    (function ($) {
        $.extend($.datepicker, {

            // Reference the orignal function so we can override it and call it later
            _inlineDatepicker2: $.datepicker._inlineDatepicker,

            // Override the _inlineDatepicker method
            _inlineDatepicker: function (target, inst) {

                // Call the original
                this._inlineDatepicker2(target, inst);

                var beforeShow = $.datepicker._get(inst, 'beforeShow');

                if (beforeShow) {
                    beforeShow.apply(target, [target, inst]);
                }
            }
        });
    }(jQuery));


    $(document).ready(function(){
        $('#update_table').click(function(){
            updateRPE(); 
        });
    });




</script>


<style>
    .workout .ui-state-default {
        background-color: orange; 
  
    }

    .today .ui-state-default {
        border: 1px solid black;
    }


</style>


