#nav_bar {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/ 
    margin-top: 2em; 
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0; 
    line-height: 0px;
    width:100%;

}

ul {
    text-align: center;
	font-size: 1.25vw;
	line-height: 0px;
}

#nav_bar li {
    text-align: center; 
    margin: 0 auto;
    z-index: 9999;
    font-size: 1vw;
}

.nav_link_1 {
	color: rgba(85, 150, 252, 0.8);
	font-size: 1vw;

}

.nav_link_2 {
	color: black;
	font-size: 1vw;

}

a {
	text-decoration: none
}